@model IEnumerable<BetaLabUnidad3.Models.Med>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Medicamentos</h2>

<h3>BUSQUEDA</h3>

<ul>
    @using (Html.BeginForm("Buscar", "Med", FormMethod.Get))
    {
        <input type="text" name="nombre" id="nombre" /> 

        <input type="submit" value="Buscar por nombre" />
    }
</ul>

<p>
    @Html.ActionLink("Crear Pedido", "Create")
</p>

<p>
    @Html.ActionLink("Lista Pedidos", "Index","Pedidos")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.existencia)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.existencia)
            </td>
        </tr>
    }

</table>
